@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  background-color: #f1f1f1;
}

#spotify-logo-mb {
  display: none;
}

header {
  background-color: #1a1a1a;
}

nav {
  padding: 12px 16px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

header > nav > ul {
  gap: 8px;
}
main > header {
  display: flex;
  justify-content: space-between;
}

#searchBar {
  flex: 0 1 480px;
  height: 32px;
}
#searchBar * {
  flex: 1;
  height: 32px;
}
.inputbox-container {
  position: relative;
}
.inputbox-container::before {
  content: url(https://crushingit.tech/hackathon-assets/icon-search.svg);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 8px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

nav li:nth-child(3) > ul {
  display: flex;
  gap: 8px;
}

#notibell {
  background-color: #656266;
  padding: 8px;
}

#userName > button {
  display: flex;
  height: 100%;
  padding: 0.125rem 0.125rem 0.125rem 0.5rem;
  gap: 8px;
  background-color: #616161;
  align-items: center;
  border-radius: 8px;
}

#userName > button span:nth-child(1) {
  color: #e3e3e3;
  font-size: 12px;
  font-weight: 500;
}
#userNameAbbr {
  display: flex;
  background-color: #36fba1;
  justify-content: center;
  align-items: center;
  color: #00000066;
  border-radius: 6px;
  width: 28px;
  height: 28px;
}

#search {
  width: 100%;
  padding: 8px;
  padding-inline-start: 32px;
  border-radius: 8px;
  background-color: #322f33;
  border: 1px solid #616161;
}

#search:hover {
  border-color: #e1e1e1;
}
#search:hover:active,
#search:focus {
  outline: 1px solid #ffffff;
}

p,
#search::placeholder {
  color: #616161;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
}
#notibell {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 auto;
  display: flex;
  max-width: 800px;
  flex-direction: column;
  gap: 16px;
}

main > :first-child {
  margin-block-start: 32px;
}
#planNotice {
  padding: 12px 0px;
  padding-inline-end: 8px;
  padding-inline-start: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 8px;
}
#planSelect {
  display: flex;
  gap: 8px;
}

#planSelect * {
  height: 100%;
}

.plan-button {
  padding: 6px 12px 6px 12px;
  border: 1px #0000001a;
  border-radius: 6px;
  box-shadow: 0 -1 0 0 #b5b5b5;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 600px;
}

#planSelect svg {
  height: 100%;
}

#dropDown {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dropDown > svg {
  width: 28px;
  height: 28px;
}
.setup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 8px;
  border-radius: 18px;
  gap: 16px;
  /* background-color: green; */
}

.completionStatus {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: #303030;
}

.completionStatus > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 19.6px;
  color: #303030;
}
.completionStatus p {
  font-weight: 400;
  color: #303030;
}

.completionText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.task-list {
  display: flex;
  opacity: 0;
  flex-direction: column;
  gap: 2px;
  height: 0;
  transition: opacity 1s ease, height 1s ease;
  transform-origin: top;
  transform: scaleY(0);
}
.task-list.open {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: bottom;
  height: auto;
}

.task {
  display: flex;
  border-radius: 10px;
  padding: 8px 8px 12px 8px;
  gap: 96px;
}
.task > * {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.pry-button {
  border-radius: 6px;
  border-block-start: 1.5x;
  border-block-end: 0;
  border-inline: 1.5px;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #404040;
  box-shadow: 0px 0px 0px 1.5px #333333, 0px 1px 0px 1.5px #333333;
}
.pry-button:hover {
  background-color: #2a2a2a;
}
.pry-button:hover:active {
  background-color: #2b2b2b;
  box-shadow: 0px 3px 0px 0px #000000;
}
.pry-button:focus {
  box-shadow: 0px 0px 0px 5px #005bd3, 0px 0px 0px 3px #ffffff;
}
.pry-button:not(:focus-visible) {
  box-shadow: none;
}

.sec-button {
  border-radius: 6px;
  border: 1.5x;
  border-block-start: 1.5x;
  border-block-end: 0;
  padding: 6px 12px;
  color: #323232;
}

.sec-button:hover {
  background-color: #e7e7e7;
}
.sec-button:hover:active {
  background-color: #e0e0e0;
}
.sec-button:focus {
  outline: 2px solid #005bd3;
}
.sec-button:not(:focus-visible) {
  outline: 0;
}

.content-detail {
  display: flex;
  flex-direction: column;
  padding: 2px 0;
  gap: 16px;
}

.incomplete circle {
  stroke: #8a8a8a;
}

.incomplete {
  height: 24px;
  width: 24px;
}

/* .incomplete:hover {
  display: none;
} */

.icon-container:hover:active > .loading-1 {
  fill: #d9d9d9;
}

.loading-1,
.loading-2,
.time-loading,
.complete {
  display: none;
  height: 24px;
  width: 24px;
}

/* incomplete:hover + .loading-1 {
  display: flex;
} */

.loading-2.rotate {
  transform: rotate(-90deg);
}

.incomplete.hidden {
  display: none;
}

.loading-1.show,
.loading-2.show,
.time-loading.show,
.complete.show {
  display: flex;
}
.time-loading.show {
  transition: visibility 50ms ease-out;
}
.time-loading.blur {
  visibility: hidden;
}
.loading-2.show {
  transition: transform 50ms ease-out;
}

.more-content.hidden,
.dropdown-container.hidden,
.alert-container.hidden,
#dropdownOpen.hidden,
#dropdownClose.hidden {
  display: none;
}

#progressContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

#progressbarContainer {
  position: relative;
  width: 72px;
  height: 4px;
  border-radius: 28px;
  background-color: #e3e3e3;
}
#progressbarContainer::after {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  width: var(--after-width, 0%);
  height: 4px;
  border-radius: 28px;
  background-color: #1a1a1a;
}

.task.active {
  background-color: #f3f3f3;
  outline: none;
}

.dropdown-container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset-block-start: 64px;
  inset-inline-end: 16px;
  padding: 6px 0px;
  gap: 4px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 8px 0px #0000000d;
  background-color: #ffffff;
  border-radius: 14px;
}
.alert-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset-block-start: 64px;
  inset-inline-end: 16px;
  padding: 16px;
  gap: 16px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 8px 0px #0000000d;
  background-color: #ffffff;
  border-radius: 14px;
  font-weight: 600;
}

#alertHeader {
  flex-direction: row;
  justify-content: space-between;
}

#alertMessages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  color: #616161;
  background-color: #f1f1f1;
  font-weight: 600;
  font-size: 13px;
  line-height: 18.2px;
}

.alert-container .category {
  border: none;
}

.alert-icons svg > * {
  fill: #616161;
}

.category {
  display: inherit;
  flex-direction: inherit;
  padding: 0px 6px;
  gap: 4px;
  border-block-end: 0.75px solid #e1e1e1;
}

.dropdown-container.category:nth-last-child(1) {
  border-block-end: none;
}
.dropdown-container.category:nth-last-child(1) > * {
  padding: 8px;
}

.item {
  display: flex;
  flex: 1;
  height: 100%;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18.2px;
  color: #303030;
  border-radius: 8px;
  align-items: center;
  padding: 6px;
}

.item:hover {
  background-color: #f1f1f1;
}
.item:hover:active {
  background-color: #f0f0f0;
}

.task:active {
  background-color: #f3f3f3;
  border: none;
}

.task:focus {
  background-color: initial;
  border: 2px solid #005bd3;
}

#userName2 {
  font-weight: 600;
}

.category a {
  display: flex;
  gap: 8px;
}

#userInfo {
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
#userInfo > span:nth-child(1) {
  font-weight: 500;
  line-height: 18.2px;
  font-size: 13px;
}

input[type='radio'] {
  display: none;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container:hover > .incomplete {
  display: none;
}
.icon-container:hover > .loading-1 {
  display: var(--display, flex);
}
#close > svg {
  width: 32px;
  height: 32px;
}

@media (max-width: 599px) {
  #spotify-logo-dt {
    display: none;
  }
  #spotify-logo-mb {
    display: initial;
  }

  #planNotice {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 0%;
    gap: 16px;
    padding-inline-end: 48px;
    z-index: -1;
  }

  #planSelect > li:first-child {
    /* position: absolute; */
    height: auto;
  }
  .setup {
    border-radius: 0%;
  }
  .illustration {
    display: none;
  }

  #userName > button > span:first-child {
    display: none;
  }
  #userName > button {
    padding: 2px;
    background-color: #1a1a1a;
  }

  #userName {
    display: flex;
    justify-content: center;
  }

  #notiBellContainer {
    display: flex;
    gap: 8px;
  }
  #notibell {
    padding: 0;
    background-color: #1a1a1a;
  }
  #notibell > svg {
    width: 20px;
    height: 20px;
  }

  #close {
    display: flex;
    position: absolute;
    inset-block-start: 6px;
    inset-inline-end: 6px;
  }

  #close > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
  }
  #close svg {
    width: 36px;
    height: 36px;
  }
}
